@{
    ViewBag.Title = "landlorder | Search and Submit Landlord Reviews";
}

    <!-- ******PROMO****** -->   

    <section id="promo" class="promo section offset-header">
        <div class=" container text-center">
    <h2 class="title">land<span class="highlight">lorder</span></h2>
    <p class="intro"></p>
    <form action="/Home" method="get">
        <div class="col-md-3 column"></div>
        <div class="col-md-3 column">
            <div class="input-group">
                <input type="text" id="autocomplete" name="locationinput" autocomplete="off" onkeypress="return checkEnterBtnKeyDown(event)" class="subscribe form-control" autofocus placeholder="Search address, city or zip" spellcheck="false">
                <span id="locatiobtn" class="input-group-btn-lg">
                    <button type="submit" onclick="fillInAddress()" class="submit-icon" >
                        <i class="fa fa-search fa-lg"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3 column"></div>
    </form>
    </div><!--//container-->

</section><!--//promo-->
    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">How can landlorder help?</h2>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Search for landlord reviews</h3>
                        <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-plus-square"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Submit landlord reviews</h3>
                        <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Rent stress-free</h3>
                        <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>               
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->

@Scripts.Render("~/bundles/googleaddressJS")
