@{
    ViewBag.Title = "landlorder | Search and Submit Landlord Reviews";
}



<!-- ******PROMO****** -->

<section id="promo">
    <div class="promo section offset-header">
        <div class=" container text-center">
            <h2 class="title">landlorder</h2>
            <h3 class="subtitle">Search & submit landlord reviews anywhere</h3>
            <p class="intro"></p>
            <div class="col-md-3 column"></div>
            <div class="col-md-3 column">
                <form method="get" action="/Reviews/Search">
                    <div class="input-group">
                        <input type="text" id="autocomplete" name="locationinput" autocomplete="off" class="subscribe form-control" autofocus placeholder="Search address, city or zip" spellcheck="false">
                        <span id="locatiobtn" class="input-group-btn-lg">
                            <button type="submit" class="submit-icon">
                                <i class="fa fa-search fa-lg"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-3 column"></div>
        </div><!--//container-->
    </div>
</section><!--//promo-->
<!-- ******ABOUT****** -->
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">How can landlorder help?</h2>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-search"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Search for landlord reviews</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-plus-square"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Submit landlord reviews</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Rent stress-free</h3>
                    <p>Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="clearfix visible-md"></div>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//about-->



<section class="explore section">
    <div class="countainer-fluid">
        <div class="row nopadding">
            <div class="col-md-3 column">
                <a href="/Reviews/Search?locationinput=New+York%2C+NY%2C+United+States">
                    <div class="explore-holder">
                        <h2>New York</h2>
                        <img class="explore-1">
                    </div>
                </a>
            </div>
            <div class="col-md-3 column">
                <a href="/Reviews/Search?locationinput=San+Francisco%2C+CA%2C+United+States">
                    <div class="explore-holder">
                        <h2>San Fran</h2>
                        <img class="explore-2">
                    </div>
                </a>
            </div>
            <div class="col-md-3 column">
                <a href="/Reviews/Search?locationinput=Miami%2C+FL%2C+United+States">
                    <div class="explore-holder">
                        <h2>Miami</h2>
                        <img class="explore-3">
                    </div>
                </a>
            </div>
            <div class="col-md-3 column">
                <a href="/Reviews/Search?locationinput=Chicago%2C+IL%2C+United+States">
                    <div class="explore-holder">
                        <h2>Chicago</h2>
                        <img class="explore-4">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<script>initialize();</script>

