@{
    ViewBag.Title = "Legal Attribution | landlorder";
}


<div class="form-wrap">
    <div class="tabs-content">
        <section id="loginForm">
            <h3 class="title">@ViewBag.StatusMessage</h3>
            <div>
                <h2 class="logintitle">Legal Image & Content Attribution</h2>
                <hr />
                <p>1) Picture of [Chicago Skylines] (c) [2015] [Ernle R] released under [Creative Commons 2.0] taken from [https://www.flickr.com/photos/seyerce/4943975251/in/photostream/]</p>
                <p>2) Picture of [Brickell] (c) [2006] [alex de carvalho] released under [Creative Commons 2.0] taken from [https://www.flickr.com/photos/adc/246098355/]</p>
                <p>3) Picture of [Space needle and fog] (c) [2013] [Tim Durkan] released under [Creative Commons 2.0] taken from [https://www.flickr.com/photos/timdurkan/10460205174/in/photolist-gWkhz5-dCTtVm-dBTFZ6-4VyeW7-dCTtMC-8bNnzA-r6sxU6-4Ufgch-nz2Pv5-aawDME-86iqET-rbAX2q-m1DKSt-oeUAdH-rUHkr2-8q3mDi-aJRR4-QsK5n-gG39u-3ct3nR-4JjP9j-8etxMT-6dhn1Q-8dDgbz-8oBa8d-aN85mZ-4Jfp6R-8dGwiU-8dDguP-8dDgWZ-6XXezb-8dGx6w-8ewQzY-bymsGB-nzrM4k-2Da9yB-o4NVEi-aLf15Z-dN4xgm-6Pvjbx-5pU3cr-4Qg7QL-5Uzs5h-9dNfnq-5kAnoz-5kAnAg-47SBt-neLWgZ-mEUjX-fDuNjw]</p>
                <p>4) Picture of [Lady Lierty NYC] (c) [2015] [Guilherme Nicholas] released under [Creative Commons 2.0] taken from [https://www.flickr.com/photos/guinicholas/19576588460/in/photostream/]</p>
                <p>5) Icon of [Flat artistic shopping] (c) [2015] [Lokas Software] released under [Creative Commons 3.0] taken from [https://www.iconfinder.com/icons/317067/building_home_house_office_icon#size=32]</p>

             </div>
        </section>

    </div>
</div>