@model IEnumerable<landlorder.ViewModels.SearchResultsViewModel>


@{
    ViewBag.Title = "Search | landlorder ";
}


<div id="map-canvas" style="height: 300px;"></div>

<table class="table">   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.streetaddress) 
            </td>                      
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numofReviews)
            </td>
        </tr>
    }

</table>


<script>initSearch();</script>





