@{
    ViewBag.Title =  ViewBag.location +  " Search | landlorder ";
}


<div class="searchwrapper">
    <div class="row nopadding">

        <div class="col-sm-7">
            <div class="map_container">
                <div id="map-canvas" class="map"></div>
            </div>
        </div>


        <div class="col-sm-5">
            <div class="search_container" id="search_container" style="overflow: auto;">
                <h3 class="search-title" id="results-title"></h3>
                <div class="seperator title"></div>
                

                <div id="relatedpropertyDIV">


                </div>

            </div>
        </div>

    </div>
</div>




<script>initSearch();</script>





