@model IEnumerable<landlorder.ViewModels.SearchResultsViewModel>


@{
    ViewBag.Title =  ViewBag.location +  " Search | landlorder ";
}


<div class="searchwrapper">
    <div class="row nopadding">

        <div class="col-sm-8">
            <div class="map_container">
                <div id="map-canvas" class="map"></div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="search_container" id="search_container" style="overflow: auto;">
                <h3 class="search-title" id="results-title"></h3>
                <div class="seperator title"></div>
                
                <div class="item_holder">                    
                    <h4 id="exactmatch_address"></h4>
                    <h4 id="exactmatch_numReviews"></h4>
                </div>
                <div class="seperator"></div>

                <div id="relatedpropertyDIV">


                </div>

            </div>
        </div>

    </div>
</div>




<script>initSearch();</script>





