@model landlorder.Models.IndexViewModel
@{
    ViewBag.Title = "Manage | landlorder";
}


<div class="form-wrap">
    <div class="tabs-content">
        <section id="loginForm">
            <h3 class="title">@ViewBag.StatusMessage</h3>
            <div>
                <h3>Change your account settings</h3>
                <hr />
                <dl class="login-form">
                    <dt>Password:</dt>
                    <dd>
                        
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        
                    </dd>

                </dl>
            </div>
        </section>

    </div>
</div>